@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

<div class="text-center">
<h1 class="display-4"><b>CG AVENUE</b></h1>
<span><button type="button" action =""class="btn btn-lg btn-secondary btn-login text-uppercase fw-bold mb-2"><a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Login">Login</a></button></span>
<span><button type="button" action =""class="btn btn-lg btn-secondary btn-login text-uppercase fw-bold mb-2"><a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Register">Register</a></button></span>
</div>