@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<li class="nav-item">
           <a class="nav-link text-light" asp-area="" asp-controller="Students" asp-action="Logout">Logout</a>
                        </li>


<center><h3>SELECT EXAM!!!</h3></center>
<hr />
<div class="container">
        <div class="box">
            <a asp-action="ExamWindowPge" asp-controller="Students"class="btn1">JAVA</a>
            <a asp-action="ExamWindowPge" asp-controller="Students"class="btn1">PYTHON</a>
            <a asp-action="ExamWindowPge" asp-controller="Students"class="btn1">C/C++</a>
            <a asp-action="ExamWindowPge" asp-controller="Students"class="btn1">SQL</a>
            <a asp-action="ExamWindowPge" asp-controller="Students"class="btn1">PHP</a>
            <a asp-action="ExamWindowPge" asp-controller="Students"class="btn1">C#</a>

        </div>
    </div>


@*shows different list of eaxms*@
@*choose any one*@